Package: xyz.skitty.quietdown
Name: QuietDown
Depends: mobilesubstrate, firmware (>= 11.0)
Version: 1.1
Architecture: iphoneos-arm
Description: Mute Notifications for Time Periods
Icon: https://skitty.xyz/repo/icons/xyz.skitty.quietdown.png
Depiction: https://skitty.xyz/repo/depictions/xyz.skitty.quietdown/
SileoDepiction: https://skitty.xyz/repo/depictions/xyz.skitty.quietdown/sileo.json
Maintainer: Skitty
Author: Skitty
Section: Tweaks
